.received-DTU {
    .item-search {
        padding: 15px !important;
    }
    .input-search {
        padding-right: 0 !important;
    }
    .button-search {
        .btn {
            width: 100%;
            padding-right: 5px;
            padding-left: 5px;
        }
    }
    .search-btn {
        .input-group-addon {
            border: none;
        }
        input {
            height: 28px;
        }
        .input-group-btn {
            border: none;
            button {
                padding: 3px 10px !important;
                border-left: 0;
            }
        }
    }
    table {
    	margin-top: 3%;
    }
}